<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sleep.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>11</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B81F1D86C3AC92DD49D9B02F3C5A2E23592B280E</string>
				<key>dateExpires</key>
				<string>12/10/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B81F1D86C3AC92DD49D9B02F3C5A2E23592B280E</string>
						<key>dateExpires</key>
						<string>12/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MLBF38PGS8</string>
						<key>name</key>
						<string>The Original Sleep LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B81F1D86C3AC92DD49D9B02F3C5A2E23592B280E</string>
						<key>dateExpires</key>
						<string>12/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MLBF38PGS8</string>
						<key>name</key>
						<string>The Original Sleep LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B81F1D86C3AC92DD49D9B02F3C5A2E23592B280E</string>
						<key>dateExpires</key>
						<string>12/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MLBF38PGS8</string>
						<key>name</key>
						<string>The Original Sleep LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B81F1D86C3AC92DD49D9B02F3C5A2E23592B280E</string>
						<key>dateExpires</key>
						<string>12/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKGamingServicesKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MLBF38PGS8</string>
						<key>name</key>
						<string>The Original Sleep LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B81F1D86C3AC92DD49D9B02F3C5A2E23592B280E</string>
						<key>dateExpires</key>
						<string>12/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MLBF38PGS8</string>
						<key>name</key>
						<string>The Original Sleep LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B81F1D86C3AC92DD49D9B02F3C5A2E23592B280E</string>
						<key>dateExpires</key>
						<string>12/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MLBF38PGS8</string>
						<key>name</key>
						<string>The Original Sleep LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B81F1D86C3AC92DD49D9B02F3C5A2E23592B280E</string>
						<key>dateExpires</key>
						<string>12/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MLBF38PGS8</string>
						<key>name</key>
						<string>The Original Sleep LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B81F1D86C3AC92DD49D9B02F3C5A2E23592B280E</string>
						<key>dateExpires</key>
						<string>12/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>double-conversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MLBF38PGS8</string>
						<key>name</key>
						<string>The Original Sleep LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>11</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B81F1D86C3AC92DD49D9B02F3C5A2E23592B280E</string>
						<key>dateExpires</key>
						<string>12/10/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>glog.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MLBF38PGS8</string>
						<key>name</key>
						<string>The Original Sleep LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MLBF38PGS8.com.sleep2022.original</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>MLBF38PGS8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>MLBF38PGS8.com.sleep2022.original</string>
				</array>
			</dict>
			<key>name</key>
			<string>TheOriginalSleep2022.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>533b7f70-ec4a-4e7c-8855-70299a8737af</string>
				<key>dateExpires</key>
				<string>12/10/23</string>
				<key>name</key>
				<string>Sleep dist profile 2022</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MLBF38PGS8</string>
				<key>name</key>
				<string>The Original Sleep LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0</string>
		</dict>
	</array>
</dict>
</plist>
